/*This entire file will not be commented. If you want to learn the different style properties check out W3Schools (google it)*/
* { /*This symbol applies to all elements on the page */
    margin: 0;
    padding: 0;
}
/*Before we continue, if a element has a . (dot) in front of it it is a CLASS (can apply to more then 1 element) */
/*If a element has a # (hashtag) it is an ID (can only be applied to one element) */
html,body { /*Here two elements are defined at the same time, that is possible. It is some of the main elements, html and body*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-content { /*Here is the first user defined element, since there only will be one of this it is an ID with a # */
    width: 100%; /*The element width in % (precentage). Using precentage means the element will scale on different monitor sizes*/
    height: 100%; /*Height using precentage. 100% means it will cover the entire page (even tough you might not be able to see it because it is invisible)*/
    display: flex; /*Display flex gives us a flexible way of displaying elements. It means that elements will follow scaling and jump if the page becomes to small*/
    align-items: flex-start; /*This aligns the items on the y-axis. Here we are telling all elements within to always be aligned at the start*/
    justify-content: center; /*This aligns the items on the x-axis. Here we are telling all elements within to always be aligned at the center*/
    flex-flow: wrap; /*This tells all the elements within this element/box that if the screen becoms to small the elements are allowed to alter placement for optimal view/design*/
    background-color: rgba(248, 248, 248, 1.0); /*This sets the background color of the box, in this case close to almost white*/
}

/* Control */
#control-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
}

.control-module { /*This defines common properties off all the control modules boxes (1-4)*/
    width: 49.95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

#control-module-1 { /*This box specifically alters control module box 1*/
    border-right: 1px solid rgba(230, 230, 230, 1.0); /*This gives the element a border line*/
    border-bottom: 1px solid rgba(230, 230, 230, 1.0);
}

#control-module-2 {
    border-bottom: 1px solid rgba(230, 230, 230, 1.0);
}

#control-module-3 {
    border-right: 1px solid rgba(230, 230, 230, 1.0);
}

#control-module-4 {

}

/* Controlmodules */
/* Keyboard */
.key-container {
    width: 40%; /*50% of the width of the screen*/
    height: 40%; /*and 50% of the height of the screen = 1/4 of the screen*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1.0);
    border-left: 1px solid rgba(240, 240, 240, 1.0);
    border-bottom: 2px solid rgba(240, 240, 240, 1.0);
    flex-flow: wrap;
}

.key-btn-top {
    width: 100%;
    height: 49%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.key-btn-btm {
    width: 100%;
    height: 49%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.key-btn { /*The actual key button style*/
    width: 22.5%;
    height: 67.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    border: 3px solid #303030;
    color: #00509e; /*This sets the color of the text*/
    background-color: white;
    font-size: 50px; /*This sets the font size of the text*/
    font-family: "Arial";
    font-weight: 900; /*This sets the font properties (bold, italics, etc.)*/
    margin: 0 0.2% 0.2% 0.2%; /*Thi sets up a "keep away" zone around the element*/
}

.dragBox {
    cursor: pointer; /*This alters the mouse cursor to a "pointy" type*/
}

.key-btn:hover { /*The hover here refers to if the mouse hovers over an element, should the element do anything special in this case?*/
    cursor: pointer;
}

/* Button */
.btn-container {
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1.0);
    border-left: 1px solid rgba(240, 240, 240, 1.0);
    border-bottom: 2px solid rgba(240, 240, 240, 1.0);
    flex-flow: wrap;
}

.btn-title-con {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(230, 230, 230, 1.0);
    cursor: pointer;
}

.btn-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 800;
    margin: 0 2.5%;
}

.btn-box {
    width: 50%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 75%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 800;
    color: white;
    background-color: #7AD661;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
}

/* Chart */
.chart-container {
    width: 40%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1.0);
    border-left: 1px solid rgba(240, 240, 240, 1.0);
    border-bottom: 2px solid rgba(240, 240, 240, 1.0);
}